{
  "env": {
      "browser": true,
      "es2021": true,
      "node": true
  },

  "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended"
  ],

  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
  },

  "parser": "@typescript-eslint/parser",

  "plugins": [
      "@typescript-eslint",
      "prettier"
  ],

  "rules": {
      "prettier/prettier": [
          "error", {
              "endOfLine": "auto"
          }
      ]
  }
}